
@{
    ViewBag.Title = "Index";
}

<h2>API lists</h2>
<br />
<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>Serial</th>
            <th>Description</th>
            <th>Detail links</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Notices (First Page)</td>
            <td><a target="_blank" href="~/api/notices">/api/notices</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Notices (2 to last)</td>
            <td><a target="_blank" href="~/api/notices/2">/api/notices/2</a></td>
        </tr>
    </tbody>
</table>
</table>
